@import "tailwindcss";


:root {
    --font-poppins: "Poppins", sans-serif;
    --font-kaushan: "Kaushan Script", cursive;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: #f8fbfa;
    font-family: var(--font-poppins);
}


.font-script {
    font-family: var(--font-kaushan);
}
