@import "tailwindcss";


:root {
    --font-poppins: "Poppins", sans-serif;
    --font-kaushan: "Kaushan Script", cursive;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: #f8fbfa;
    font-family: var(--font-poppins);
}


.font-script {
    font-family: var(--font-kaushan);
}

/* Custom modal scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(99, 102, 241, 0.35);
    border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(99, 102, 241, 0.55);
}

/* Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(99, 102, 241, 0.4) transparent;
}

/* Hide scrollbar but keep scrolling behavior */
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

@keyframes slide {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.animate-slide {
    animation: slide 0.3s ease;
}